<div class="view view--quadrant">
  <div class="title_bar">
    <span class="title">Route {{ route }}</span>
    <span class="instance">as of {{ updated_at }}</span>
  </div>

  <div class="layout layout--col layout--stretch">
    <div class="flex flex--stretch grow">
      {% for departure in departures limit:2 %}
        <div class="flex flex--col flex--center-x border rounded grow">
          <span class="value value--large">{{ departure.time }}</span>
          <span class="label label--small">{{ departure.status }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="flex flex--stretch grow pb--small">
      {% for departure in departures offset:2 limit:2 %}
        <div class="flex flex--col flex--center-x border rounded grow">
          <span class="value value--large">{{ departure.time }}</span>
          <span class="label label--small">{{ departure.status }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
