<div class="view view--quadrant">
  <div class="layout layout--col gap--small">
    <div class="layout layout--row items--center justify--between border--bottom pb-1 mb-1">
      <div class="bg--black color--white px-1.5 py-0.5 rounded">
        <span class="title title--small">{{ route }}</span>
      </div>
      <span class="meta">{{ updated_at }}</span>
    </div>

    <div class="layout layout--col">
      {% for departure in departures limit:4 %}
        <div class="layout layout--col border--bottom pb-0.5 mb-1">
          <div class="layout layout--row items--center justify--between">
            <span class="value">{{ departure.time }}</span>
            {% if departure.is_live and departure.delay > 2 %}
              <span class="meta font--bold">+{{ departure.delay }}m</span>
            {% endif %}
          </div>
          <span class="meta truncate">{{ departure.headsign }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
